/* Navigation */
	.navbar.navbar-default {
		background-color:transparent;
		border:transparent;
	}

	.navbar-brand {
		font-size: 68px !important;
		font-family: "Josefin Sans";
		color:black;
		text-decoration: none;
		font-weight:900;
		text-transform: uppercase;
		margin-top:25px;
	}

	.nav {
		padding: 15px 20px 0px 0px;
	}

	.navbar {
		margin:0;
	}

	.navbar a {
		font-family: "Josefin Sans";
		font-size: 20px;
		text-decoration: none;
		color: #000 !important;
	}

#home-video {
	position: fixed;
	top: 0;
	right: 0;
	width: auto;
	height: auto;
	min-width: 100%;
	min-height: 100%;
	z-index: -100; 
	background-size: cover;
	overflow: hidden;
}

.col-xs-12.col-sm-12.col-md-6.col-lg-3 img {
	width:100%;
}

/* Contact Us */
	.contact-text a {
		font-family: "Josefin Sans";
		color: black;
		text-decoration: none;
		font-size: 18px;
		font-style:normal;
		margin-top: 50px;
	}

	.contact-text a:hover {
		color:#C71585;
}

/* Office Addresses */
	.row {
		margin:auto;
	}

	.container-parent {
		padding-top: 70px;
	}

	.container-address {
		padding: 30px 0 0 800px;
	}

	#SanMo h1, #NY h1{
		text-decoration: none;
		font-family: "Josefin Sans";
		font-size: 20px;
		color:black;
		margin-top:7px;
		margin-bottom: 2px;
		margin-right:-70px;
	}

	#SanMo a{
		font-family: "Josefin Sans";
		font-size: 14px;
		color:black;
		text-decoration: none;
		margin:auto;
		text-align: left;

	}

	#NY li, #NY a {
		font-family: "Josefin Sans";
		font-size: 14px;
		color:black;
		text-decoration: none;
		text-align: left;
		list-style: none;

	}

	ul {
		padding:0;
		margin-right:-150px;
		list-style: none;
	}

	.left-buffer {
		padding: 0 0 0 50px;
	}

	.address {
		width:13%;
	}

/* Request Button */
	#request {
		display:block;
		text-align: center;
	}

	#request a {
	  text-decoration:none;
	  color:black;
	  overflow:hidden;
	  margin:0.75em;
	}

	.button {
	  letter-spacing:.5em;
	  text-decoration:center;
	  padding:0.75em 1.25em 0.75em 1.75em;
	  border-color:black;
	  border-width:2px;
	  border-style:solid;
	  white-space: nowrap;
	  -webkit-transition: border-color 500ms ease, color 250ms ease;;
	  -moz-transition: border-color 500ms ease, color 250ms ease;;
	  -ms-transition: border-color 500ms ease, color 250ms ease;;
	  -o-transition: border-color 500ms ease, color 250ms ease;;
	  transition: border-color 500ms ease, color 250ms ease;;
	}

	.button:hover {
	  color:#C71585;
	  border-color:#C71585;
	}

	.button:before,
	.button:after {
	  border-style:solid;
	  border-color:black;
	  border-width:0;
	  -webkit-transition: border-color 500ms ease;;
	  -moz-transition: border-color 500ms ease;;
	  -ms-transition: border-color 500ms ease;;
	  -o-transition: border-color 500ms ease;;
	  transition: border-color 500ms ease;;
	}

	a:hover .button:before,
	a:hover .button:after {
	  border-color:#C71585;
	  text-decoration: none;
	}

	.battlestar {
	  border-width:2px 0;
	  position:relative;
	  padding:0.75em 30px 0.75em 45px;
	  margin:auto;
	}

	.battlestar:before {
	  content: "";
	  border-width:2px;
	  border-right:0;
	  border-left-width:50px;
	  position:absolute;
	  width:200px;
	  -webkit-transform: perspective(300px) rotateY(-87deg);
	  -moz-transform: perspective(300px) rotateY(-87deg);
	  -ms-transform: perspective(300px) rotateY(-87deg);
	  -o-transform: perspective(300px) rotateY(-87deg);
	  transform: perspective(300px) rotateY(-87deg);
	  top:13%;
	  bottom:13%;
	  left:-7.65em;
	  right:0;
	}

	.battlestar:after {
	  content: "";
	  border-width:2px;
	  border-left:0;
	  border-right-width:20px;
	  position:absolute;
	  width:200px;
	  -webkit-transform: perspective(300px) rotateY(87deg);
	  -moz-transform: perspective(300px) rotateY(87deg);
	  -ms-transform: perspective(300px) rotateY(87deg);
	  -o-transform: perspective(300px) rotateY(87deg);
	  transform: perspective(300px) rotateY(87deg);
	  top:12%;
	  bottom:12%;
	  right:-7.65em;
}

/* Social Media */	
	.fa: {
		color:black;
	}

	.fa-twitter:hover{
		color:#00aced;
	}

	.fa-instagram:hover{
		color:#675144;
	}

	.fa-facebook:hover{
		color:#3b5998;
	}

/* Client Grid */
	.buffer-vertical {
		padding: 50px 0 40px;
	}

	.buffer-top {
		padding: 50px 0 0 0 ;
	}

